<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    @RenderBody()


    <br /><br /><br />
    <div class="row">
        <footer style="background-color:#333" class="modal-footer" align="bottom">
            <div class="container-fluid pull-right">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <div style="color:white; font-size:13px" ;=; text-align:right"=text-align:right" class="pull-right" align="right">

                            <span class="glyphicon glyphicon-copyright-mark"></span>
                            copyright 2015 fantasy.com
                            . All rights reserved
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
